main > nav > ul > li{
    list-style: none;
    text-align: left;
    text-align: justify;
    
    
}

#logo {
    text-align: center;
    text-align: justify;
    list-style: none;
    justify-content: center;
    


}