{% extends 'base.html' %}

{% block content %}
<h1>Add a Visit</h1>

<form action="/visits" method="post">
  <label for="Traveler">Select a Traveler:</label>
    <select name="Traveler_id" id="Traveler">
      {% for Traveler in Travelers %}
      <option value="{{ Traveler.id }}">{{ Traveler.name }}</option>
      {% endfor %}
    </select>
  
  <label for="country">Select a country:</label>
    <select name="country_id" id="country">
      {% for country in countries %}
      <option value="{{ country.id }}">{{ country.name }}</option>
      {% endfor %}
    </select>
  

  <label for="review">Add a Review</label>
  <textarea name="review" id="review" cols="30" rows="10"></textarea>
  <input class="btn btn--action" type='submit' value="Visit">
</form>

{% endblock %}