
<!DOCTYPE html>
<html>
<head>


  <title id="blue"> Trip Advisor </title>
  
  <link href="https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fimages%2Ftravel&psig=AOvVaw2ESRbe-42Yjx1wU6ZkD7od&ust=1653737404955000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJDuoonK__cCFQAAAAAdAAAAABAG" rel="stylesheet">
  

  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
  
</head>
<body>

<main class="flex flex--row">


<header>
<div class="menu">
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a id="ds" href="/countries">countries</a>
      </li>
      <li>
        <a id="ds" href="/travelers">Traveler</a>
      </li>
      <li>
        <a id="ds" href="/visits">Visits</a>
      </li>
        <li>
    <a href="/countries/new">New Country</a>
      </li>
      <li>
        <h1>Fast Travel</h1>
      </li>
      <li>
        <a href="Andrew Howard">Andrew Howard</a>
      </li>
      <li>
        <a href="Sign Out">Sign Out</a>
      </li>
    </ul>
  </nav>
</div>
</header>
<div class="logo">
</div>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
<footer>
  <div>
    <p>Captin says were floating at 40.132 meters above sea level, i cant wait till the plane takes off</p>
  </div>
</footer>
</html>