<!DOCTYPE html>
<html>
<head>
  <title>Trip Advisor</title>
  <link href="https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fimages%2Ftravel&psig=AOvVaw2ESRbe-42Yjx1wU6ZkD7od&ust=1653737404955000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJDuoonK__cCFQAAAAAdAAAAABAG" rel="stylesheet">
  

  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
</head>
<body>
<main class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a href="/locations">Locations</a>
      </li>
      <li>
        <a href="/users">Users</a>
      </li>
      <li>
        <a href="/visits">Visits</a>
      </li>
    </ul>
  </nav>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>